<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: cursive;font-weight: 500;font-size:30px">F.R.I.E.N.D.S Quiz App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"   routerLink="/add">Add Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/delete">Delete Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/view">View Quiz</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link active" routerLink="/">Sign Out</a>
          
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p style="font-size:18px;color:white;font-family: cursive;">Friends is an American comedy television series that tells about the lives of six friends. Recognized as one of the best comedy series in the history of American television, it became one of the most famous projects of the 1990s. The series has entertained generations - you might have watched it when it first aired or soaked up every episode on Netflix, or perhaps you hadn't heard of Friends at all until the cast reunion in 2021?
  </p>
  <p style="font-size:18px;color:white;font-family:cursive;">
  Even though some of the hairstyles and clothing choices might raise some eyebrows these days, the jokes, quotes and the stories are still as great as ever. 
  However you got into Friends, let's hope you've been paying attention. Test your Friends trivia knowledge right here, right now!
</p>
<div class="container" >
  <button type="button" class="btn btn-primary"routerLink="/quiz">Play Quiz!!</button>
</div>
</div>
